<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="about container">
        <h2>About</h2>
        <p>ExpressBlog is a simple create, read, update, delete (CRUD) blog app. Well, sans the update part. I guess that makes it a CRD app. You have access to all your blogs on the front-end. Up on the navigation bar you can see a create button that'll allow you to create a new blog. You have access to all your blogs on the home page.</p>
        <p>This app was created using vanilla Javascript on the front-end, with the help of EJS, a cool view engine that allows you to do server-side rendering. It was also an opportunity to implement CSS grid. The grid-flexbox duo allows developers to make responsive design with their powerful layout tools. The back-end uses Node JS and is powered by Express, a lightweight framework to help create server-side apps. The database is MongoDB and is implemented using the Mongoose library.</p>
        <p>In late 2021, I updated the project to include Passport JS and JSON web tokens to implement a login system and protect the routes for viewing/deleting a blog and also creating one.</p>
        <p>Thank you for checking this project out out. Questions, comments, criticisms? Connect with me on Twitter <a class="twitter" href="https://twitter.com/ameyayeg" target="_blank">@ameyayeg</a>! 🐦</p>
    </div>

    <%- include('./partials/footer.ejs')  %> 
</body>
</html>